<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestComponents.listeners"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="Code.TC2_ForgotPassword" />
			<class name="Code.TC1_Login" />


			<class name="Code.TC3_SignUp" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->